@media screen and (max-width: 1200px) {
  .row {
    max-width: 1200px;
  }
}
@media screen and (max-width: 980px) {
  html {
    font-size: 18px;
  }
  .hero-text-box h1 {
    font-size: 120%;
  }
}
@media screen and (max-width: 768px) {
  .hero-text-box {
    text-align: center;
    left: 50%;
}
